
/* == GENERAL == */

body {
	font-family: 'Lato', sans-serif;

	margin-top: 50px;
	font-size: 16px;
}

/* == GLOBAL == */

h1,h2,h3,h4,h5,h6{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1,h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: normal;
}

img {
	max-width: 100%;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

.btn {
	transition: all .2s ease;
	font-weight: bold;
}

button.btn:focus {
	outline: none !important;
}

section h2 {
	text-transform: uppercase;
}

/* == NAVBAR == */

.navbar-brand>img {
	display: inline;
	width: 100%;
	margin-right: .5em;
	margin-top: -.15em;
}

.navbar-brand span {
	position: absolute;
}

.navbar-inverse {
	background-color: white;
	border-color: #A9A9A9;

}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: #585858;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
	color: #808080;
}

.logo {
	min-width: 15px;
	max-width: 28px;
}

/* == HERO == */

#hero {
	background: url('../img/hero-bg.jpg') 100% 0;
	background-size: 100% 130%;
	min-height: 40vw;
	min-height: calc(40vw + 50px);
	cursor: pointer;
}

#hero article {
	width: 100%;
	text-align: center;
}

#hero .hero-text {
	color: white;
	margin-top: 10px;
	margin-bottom: 60px;
}

#hero p.lead {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 8vmax;
}

.btn-outline-primary {
	border: 2px solid white;
	border-radius: 0px;
	text-transform: uppercase;
}


/* == LAYOUT == */

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.container-fluid [class^=col-]:first-of-type{
	padding-left: 0;
}

.container-fluid [class^=col-]:last-of-type{
	padding-right: 0;
}

.row + .row {
	margin-top: 20px;
}

section {
	padding: 80px 0;
}

section.main-content {
	padding: 40px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 40px;
}

section h3 {
	margin: 30px 0 10px;
}

#primary {
	padding-top: 40px;
	padding-bottom: 40px;
}

#optin {
	background: #3e4249;
	padding: 20px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 1.2em;
}

#optin p {
	margin: 7px 0 0 0;
}

#shop-by-category {
	text-align: center;
}

#featurette {
	background-color: white;
	background-size: cover;
	text-align: center;
}

#signup {
	text-align: center;
	background: white;
	background-size: 150%;
	color: #444;
}

.category-img img {
	width: 300px;
}

.overlay {
  position: relative;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before{
  display: block;
}

.white:before {
  background-color: rgba( 255, 255, 255, 0.1 );
}

.form-control:focus {
  border-color: #888;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.promo img {
	position: relative;
}

.promo-text {
   color: white;
   position: absolute; 
   text-transform: uppercase;
   width: 100%; 
   text-align: center;
}

.accessories-promo-text {
   top: 295px; 
   right: 0; 
}

.accessories-promo-text p {
	font-size: 3em;
	line-height: .8em;
}

.accessories-promo-text span {
	font-size: 1em;
	text-decoration: underline;
}

.clothes-sm-promo-text {
   top: 85px; 
   left: 100px; 
}

.clothes-sm-promo-text p {
	font-size: 2em;
}

.clothes-sm-promo-text span {
	text-decoration: underline;
}

.badge.social {
	background: #ccc;
	font-size: 24px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 42px;
	margin: 0 5px 20px 0;
	padding: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: white;
}

.badge.social.twitter:hover {
	background: #55acee;
}

.badge.social.facebook:hover {
	background: #3b5998;
}

.badge.social.amazon:hover {
	background: #ff9900;
}

footer {
	background: #3e4249;
	color: white;
	padding: 20px 0 10px;
	font-size: 12px;
}

footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: white;
}

footer a:hover {
	color: #e85155;
}

footer li.signup-link a {
	color: #ff595e;
}

footer li.signup-link a:hover {
	font-weight: bold;
}

/* == CONTACT == */

.contact-form {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

/* === FORMS === */

label {
	display: block;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 12px;
}


/* ==== MEDIA QUERIES === */

@media screen and ( max-width: 1200px ) {
	#hero {
		min-height: 50vw;
	}
}

@media screen and ( max-width: 1000px ) {
	#hero {
		min-height: 60vw;
		min-height: calc(50vw + 100px);
	}

}

@media screen and ( max-width : 991px ) {
	#featurette iframe {
		height: 240px;
	}

}

@media screen and ( max-width: 767px ) {
	#hero {
		min-height: 70vw;
		min-height: calc(60vw + 100px);
	}


}

@media screen and ( max-width: 568px ) {

}
